@model List<CryptoPrice>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to AltFuture</h1>
    <h2 class="display-8">A crypto asset tracker powered by CoinMarketCap API.</h2>
</div>


<table class="table table-striped">
    <caption>Prices from CoinMarketCap as of @ViewBag.DateLastSynced</caption>
    <thead class="table-dark">
        <tr>
            <th>
                Crypto
            </th>
            <th>
                Ticker
            </th>
            <th>
                Price
            </th>
            <th>
                % Change 1h
            </th>
            <th>
                % Change 24h
            </th>
            <th>
                % Change 7d
            </th>
            <th>
                % Change 30d
            </th>
            <th>
                % Change 60d
            </th>
            <th>
                % Change 90d
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">
                    @item.Crypto.CryptoName
                </th>
                <td>
                    @item.Crypto.TickerSymbol
                </td>
                <td>
                    @Math.Round(@item.Price,5)
                </td>
                <td class="@(@item.PercentChange1h >= 0 ? "text-success" : "text-danger")">
                    @Math.Round(@item.PercentChange1h,3)
                </td>
                <td class="@(@item.PercentChange24h >= 0 ? "text-success" : "text-danger")">
                    @Math.Round(@item.PercentChange24h,3)
                </td>
                <td class="@(@item.PercentChange7d >= 0 ? "text-success" : "text-danger")">
                    @Math.Round(@item.PercentChange7d,3)
                </td>
                <td class="@(@item.PercentChange30d >= 0 ? "text-success" : "text-danger")">
                    @Math.Round(@item.PercentChange30d,3)
                </td>
                <td class="@(@item.PercentChange60d >= 0 ? "text-success" : "text-danger")">
                    @Math.Round(@item.PercentChange60d,3)
                </td>
                <td class="@(@item.PercentChange90d >= 0 ? "text-success" : "text-danger")">
                    @Math.Round(@item.PercentChange90d,3)
                </td>
            </tr>
        }
    </tbody>
</table>