@using AltFuture.MarketDataConsumer.Models.MarketDataClient;
@model DataPlanUsage

@{
    ViewBag.Title = "Market Data Plan Details";
}


<div class="container">
    <h1 class="mt-4 text-center">@ViewBag.Title</h1>

    <section class="section-container">
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Plan <i class="fa-solid fa-globe"></i></h2>
                <table class="table table-dark table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th>Credit Limit Daily</th>
                            <td>@Model.Plan.CreditLimitDaily</td>
                        </tr>
                        <tr>
                            <th>Credit Limit Daily Reset</th>
                            <td>@Model.Plan.CreditLimitDailyReset</td>
                        </tr>
                        <tr>
                            <th>Credit Limit Daily Reset Timestamp</th>
                            <td>@Model.Plan.CreditLimitDailyResetTimestamp</td>
                        </tr>
                        <tr>
                            <th>Credit Limit Monthly</th>
                            <td>@Model.Plan.CreditLimitmonthly</td>
                        </tr>
                        <tr>
                            <th>Credit Limit Monthly Reset</th>
                            <td>@Model.Plan.CreditLimitMonthlyReset</td>
                        </tr>
                        <tr>
                            <th>Credit Limit Monthly Reset Timestamp</th>
                            <td>@Model.Plan.CreditLimitMonthlyResetTimestamp</td>
                        </tr>
                        <tr>
                            <th>Rate Limit Minute</th>
                            <td>@Model.Plan.RateLimitMinute</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Usage <i class="fa-solid fa-battery-three-quarters"></i></h2>
           
                <h3 class="ps-3">Current Minute</h3>
                <table class="table table-dark table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th>Requests Made</th>
                            <td>@Model.Usage.CurrentMinute.RequestsMade</td>
                        </tr>
                        <tr>
                            <th>Requests Left</th>
                            <td>@Model.Usage.CurrentMinute.RequestsLeft</td>
                        </tr>
                    </tbody>
                </table>
          
                <h3 class="ps-3">Current Day</h3>
                <table class="table table-dark table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th>Credits Used</th>
                            <td>@Model.Usage.CurrentDay.CreditsUsed</td>
                        </tr>
                        <tr>
                            <th>Credits Left</th>
                            <td>@Model.Usage.CurrentDay.CreditsLeft</td>
                        </tr>
                    </tbody>
                </table>
          
                <h3 class="ps-3">Current Month</h3>
                <table class="table table-dark table-hover table-bordered">
                    <tbody>
                        <tr>
                            <th>Credits Used</th>
                            <td>@Model.Usage.CurrentMonth.CreditsUsed</td>
                        </tr>
                        <tr>
                            <th>Credits Left</th>
                            <td>@Model.Usage.CurrentMonth.CreditsLeft</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>