@model TransactionDetail

@{
    ViewData["Title"] = "Transaction Details";
}


<div class="container">

    <section class="section-page-header">
        <h1 class="text-center">Transaction Details</h1>
        <a class="close-page" asp-controller="Transactions" asp-action="Index" title="Return to transaction history."><i class="fa-solid fa-rectangle-xmark"></i></a>
    </section>

    <section class="section-container">
        <dl class="row text-light mt-5">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FromExchangeName)
            </dt>
            <dd class="col-sm-10">
                @Model.FromExchangeName
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ExchangeTransactionTypeName)
            </dt>
            <dd class="col-sm-10">
                @Model.ExchangeTransactionTypeName
            </dd>

            @{
                if (Model.TransactionReferenceNum != 0)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TransactionReferenceNum)
                    </dt>
                    <dd class="col-sm-10">
                        @Model.TransactionReferenceNum
                    </dd>
                }
            }

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CryptoName)
            </dt>
            <dd class="col-sm-10">
                @Model.CryptoName
                <div style="display: inline-block; width: 32px;">@Html.Raw(Model.CryptoIcon)</div>
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InvestmentTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InvestmentTotal)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fee)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fee)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TransactionTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TransactionTotal)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TransactionDate)
            </dt>
            <dd class="col-sm-10">
                @Model.TransactionDate
            </dd>

            @{
                if (Model.ToExchangeName is not null)
                {
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ToExchangeName)
                    </dt>
                    <dd class="col-sm-10">
                        @(Model.ToExchangeName ?? "")
                    </dd>                
                }
            }

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class="col-sm-10">
                @Model.CreatedDate
            </dd>

            <dt class="col-sm-2 mt-5">
                <a asp-action="Index" class="btn btn-info btn-sm me-1">
                    <i class="fa-solid fa-right-to-bracket fa-rotate-180"></i>
                    Back to List
                </a>
            </dt>
            <dd class="col-sm-10 mt-5">
                <a asp-action="Edit" asp-route-id="@Model?.TransactionId" class="btn btn-success btn-sm" title="Edit Details">
                    <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model?.TransactionId" class="btn btn-danger btn-sm" title="Delete" role="button">
                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                </a>
            </dd>
        </dl>

</section>
</div>

