@model IEnumerable<AltFutureWebApp.Models.Crypto>

@{
    ViewData["Title"] = "Crypto";
}

<h1>Crypto</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Crypto
            </th>
            <th>
                Ticker
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.CryptoName
            </td>
            <td>
                @item.TickerSymbol
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CryptoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CryptoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CryptoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (ViewBag.UserMessage != null)
{
    <partial name="_UserMessage" model="ViewBag.UserMessage" />
}
