@model IEnumerable<Crypto>

@{
    ViewData["Title"] = "Crypto";
}

<h1>Crypto</h1>

<p>
    <a asp-action="Create">Create New <i class="fas fa-plus"></i></a>
</p>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                Crypto
            </th>
            <th>
                Ticker
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.CryptoName
            </td>
            <td>
                @item.TickerSymbol
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CryptoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CryptoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CryptoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<partial name="Partials/_UserMessage" />

