@using AltFuture.Models.StoredProcs;
@model IEnumerable<PortfolioSummaryGetAll>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var bodyData = Model.Where(crypto => crypto.RowType == 1).ToList();
    var footerData = Model.Where(crypto => crypto.RowType == 99).ToList()[0];
}



<table class="table table-striped">
    <caption>Crypto Asset Portfolio</caption>
    <thead class="table-dark">
        <tr class="text-center">
            <th scope="col">@Html.DisplayNameFor(model => model.CryptoName)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.TickerSymbol)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.NumberOfOrders)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Quantity)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.AverageBuyPrice)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.InvestmentTotal)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.FeeTotal)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.UnrealizedProfit)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CurrentWorth)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var crypto in bodyData)
    {            
        <tr>
            <td class="text-nowrap">@crypto.CryptoName</td>
            <th class="text-center" scope="row">@crypto.TickerSymbol</th>
            <td class="text-center">@crypto.NumberOfOrders</td>
            <td class="text-center">@crypto.Quantity</td>
            <td class="text-end">@crypto.AverageBuyPrice</td>
            <td class="text-end">@crypto.Price</td>
            <td class="text-end text-success">@crypto.InvestmentTotal</td>
            <td class="text-end text-danger">@crypto.FeeTotal</td>
            <td class="text-end @(crypto.UnrealizedProfit >= 0 ? "table-success" : "table-danger")">@crypto.UnrealizedProfit</td>
            <td class="text-end fw-bold">@crypto.CurrentWorth</td>
        </tr>
    }
    </tbody>
    <tfoot class="table-secondary">
        <tr>
            <td>@footerData.CryptoName</td>
            <th class="text-center" scope="row">@footerData.TickerSymbol</th>
            <td class="text-center">@footerData.NumberOfOrders</td>
            <td class="text-center">@footerData.Quantity</td>
            <td class="text-end">------</td>
            <td class="text-end">------</td>
            <td class="text-end text-success">@footerData.InvestmentTotal</td>
            <td class="text-end text-danger">@footerData.FeeTotal</td>
            <td class="text-end @(footerData.UnrealizedProfit >= 0 ? "table-success" : "table-danger")">@footerData.UnrealizedProfit</td>
            <td class="text-end fw-bold">@footerData.CurrentWorth</td>
        </tr>
    </tfoot>
</table>